* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.title {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #F4CAA9;
}

.pdf-cont {
    width: 100%;
    height: fit-content;
    padding: 5% 10%;

    background-color: #B95B3C;
}

.pdf-viewer {
    width: 100%;
    height: 90vh;
    margin: auto;
}